.card-part{
    border:none;
    outline:none;
    transition: transform .8s;
}
.card-part:hover{
    transform: scale(.7); 
}
.service-image{
    margin: 0 auto;
    padding:5px;
    transition: transform .7s ease-in-out;
    width:75%;
    border-radius: 10px;
   
}
.service-image:hover{
    transform:scale(0.5) rotate(360deg);
    
}