.top-banner::after{
    background-image: url('../../../images/background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    opacity:0.7;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.top-banner{
    height:800px;
   
}

.caption-left{
    justify-content: center;
    bottom: 400px;
    text-align: left;
}
.slider-div img {
justify-content: center;
align-items: center;
   height:775px;
   background-size: cover;
   background-repeat: no-repeat;
   
   padding-top: 1em;
  }
 

 